<li>
	{{burger_name}}
	{{!-- devoured button --}}
	<button class="change-devoured btn btn-info" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#unless devoured}}Devoure it!{{/unless}}
	</button>
</li>
